body{
    background-color: rgba(214, 210, 210, 0.788);
}
nav{
    padding-top: 0.8em;
    margin: 25px 20px;
    }

.nav-list{
    margin: 0;
    padding: 0;
    font-size: 0;
    background-color: rgb(226, 77, 12);
}

.list-item{
    list-style-type: none;
    display: inline-block;
    position: relative;
    padding: 20px;
}

.link{
    width: 100%;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.sub-nav-list{
    position: absolute;
    top: 60px;
    left: 15px;
    display: block;
}

.sub-list-item{
    width: 120px;
    height: 20px;
    /*display: block;*/
    display:none;
    list-style-type: none;
    background-color: rgb(226, 77, 12);
    padding: 10px;
}

.list-item:hover > .sub-nav-list > .sub-list-item{
    display: block;
    }

a{
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

a:hover {
    background-color: brown;
}
    
.sub-nav-list.sub-sub-nav-list{
    top:0;
    left: 140px;
}

