body{
    background-color: rgba(214, 210, 210, 0.788);
}
nav{
    padding-top: 0.8em;
    margin: 25px 15px;
    }

.nav-list{
    margin: 0;
    padding: 0;
    font-size: 0;
}

.list-item{
    background-color: rgb(226, 77, 12);
    list-style-type: none;
    display: inline-block;
    position: relative;
    padding: 20px;
}

.link{
    width: 100%;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.sub-nav-list{
    position: absolute;
    top: 60px;
    left: 15px;
}

.sub-list-item{
    width: 130px;
    height: 20px;
    /*display: block;*/
    display:none;
    list-style-type: none;
    background-color: rgb(226, 77, 12);
    padding: 10px;
}

.list-item:hover .sub-list-item{
    display: block;
    }

.sub-sub-nav-list{
    position: absolute;
    top: 80px;
    left: 150px;
}

